header {
  background: #020617;
  padding: 15px;
  text-align: center;
}

header input {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border-radius: 6px;
  border: none;
  outline: none;
}
